---
const personalImageAlt = "Esteban Alvarenga";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-purple-700 dark:[&>p>strong]:text-amber-200 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Esteban Alvarenga. Empecé a programar debido a la pandemia y a mi
      carrera. Actualmente estoy <strong
        >desarrollando para la fintech más grande del país</strong
      > e incursionando en trabajar con IA.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >mejorar un 70% una plataforma usada por miles de comercios</strong
      > para gestionar y monitorear transacciones propias. Fue una actualización
      que tuvo un gran recibimiento por parte de los usuarios y la empresa.
    </p>

    <p>
      Como entusiasta de la inteligencia artificial, <strong
        >he logrado mezclar software de red social con funciones IA</strong
      >, como parte de la lógica del negocio. Mi objetivo es aprovechar las
      tendencias tecnológicas actuales.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/yoyo.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>