---
const personalImageAlt = "Esteban Alvarenga";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-purple-700 dark:[&>p>strong]:text-amber-200 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Esteban Alvarenga. I started programming due to the pandemic and my career.
      Currently, I am <strong>developing for the largest fintech in the country</strong> 
      and venturing into working with AI.
    </p>
    
    <p>
      Some of my successes include <strong>improving a platform used by thousands of merchants by 70%</strong> 
      to manage and monitor their own transactions. It was an update that was very well received by both users and the company.
    </p>
    
    <p>
      As an artificial intelligence enthusiast, <strong>I have managed to combine social media software with AI features</strong> 
      as part of the business logic. My goal is to leverage current technological trends.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/yoyo.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>