---
const personalImageAlt = "Esteban Alvarenga";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-purple-700 dark:[&>p>strong]:text-amber-200 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I'm Esteban Alvarenga, a software developer who began programming during
      the pandemic, driven by both personal interest and my professional path.
      Currently, I’m <strong
        >working at the largest fintech in the country.</strong
      >
    </p>

    <p>
      Among my notable achievements is <strong
        >enhancing a platform utilized by thousands of merchants by 70%</strong
      >, significantly improving their ability to manage and track transactions.
      This update was met with overwhelmingly positive feedback from both the
      users and the company.
    </p>

    <p>
      As a passionate advocate of artificial intelligence, <strong
        >I've successfully integrated AI capabilities into social media software</strong
      >, enriching the business logic. My focus is on harnessing the power of
      today’s cutting-edge technology to drive innovation.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/yoyo.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
