---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "Noviembre 2023 - Actualmente...",
    title: "Co-Founder & Principal Developer",
    company: "Alejandría",
    description:
    "Diseñador y desarrollador responsable de la plataforma principal, desde la planificación de la arquitectura hasta el MVP y continuando. Diseñador de interfaces del producto y Landing Pages. Creación de Social-Commerce integrando servicios de IA con tecnologías avanzadas.",
    link: "https://play.google.com/store/apps/details?id=com.alexandreya.webapp&hl=es_NI",
  },
  {
    date: "Agosto 2023 - Actualmente...",
    title: "Desarrollador Full-Stack .NET",
    company: "Serfinsa",
    description:
    "Desarrollador versátil en la modernización y creación de aplicativos internos, integrando tecnologías modernas y mejorando APIs bancarias para la fintech. Resolución de incidencias de alta prioridad y optimización del rendimiento. Implementación de diseños UX/UI, logrando sistemas más intuitivos y con una curva de aprendizaje reducida para los empleados.",
    link: "https://www.redserfinsa.com/",
  },
  {
    date: "Noviembre 2022 - Enero 2023",
    title: "Pasante de Soporte Técnico",
    company: "Urbánica",
    description:
      "Gestionar y mantener equipos fuera de las oficinas administrativas, en centros comerciales, residenciales, proyectos en desarrollo y salas de ventas. Agilizar los procesos de mantenimiento de equipos e inventariar al mismo tiempo, evitando pérdidas de tiempo en cada tarea.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
